<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IM Demo</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div id="app">
        <div class="mask" v-if="!numUsers">
            <input type="text" v-model="username" @keyup.enter="login" placeholder="输入昵称回车登录开始聊天" />
        </div>
        <div class="im">
            <div class="header" v-cloak>
                {{title}}
            </div>
            <div class="body">
                <ul class="list">
                    <li v-for="user in usersJoin" @click="switch_chat(user)" v-cloak>
                        <img class="head-img" v-if="user.url" :src="user.url" />
                        <div class="head-img" v-else></div>
                        <div class="contact-info">
                            <div class="nick">{{user.username}}</div>
                        </div>
                    </li>
                </ul>
                <div class="content">
                    <div class="content-output">
                        <ul>
                            <li v-for="chat in msgs" :class="chat.isSelfSend ? 'self' : ''">
                                <div>
                                    <img class="head-img" v-if="url" :src="url" />
                                    <div class="head-img" v-else></div>
                                    <div class="msg" v-html="chat.msg">{{chat.msg}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="content-input">
                        <textarea v-model="sendInfo" placeholder="说点什么" @keypress.enter="sendMsg"></textarea>
                        <button class="close">关闭</button>
                        <button class="send" @click="sendMsg">发送</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/dist/vue.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                url: 'http://localhost:3333/',
                title: '在线聊天',
                socket: '',
                username: '',
                msgs: { },
                sendInfo: '',
                numUsers: 0,
                usersJoin: []
            },
            created() {
                // cnblogs username
                if(/www\.cnblogs\.com/.test(location.href)) {
                    this.username = $('#tbCommentAuthor').val();
                }
                
                this.socket = io(this.url);
                this.login();
                this.addEvent();
            },
            methods: {
                login: login,
                addUser: addUser,
                addEvent() {
                    userJoin.call(this);
                },
                sendMsg(event) {
                    event.preventDefault();
                }
            }
        })

        // login 
        function login() {
            if(this.username) {
                this.addUser();
                
                this.socket.on('login', (data) => {
                    // 更新在线用户数消息
                    this.numUsers = data.numUsers;
                })
            } else {
                // 请输入用户名

            }
        }

        // adduser
        function addUser() {
            this.socket.emit('add user', this.username)
        }

        // user joined 监听广播事件（除自己以外）
        function userJoin() {
            this.socket.on('user joined', (data) => {
                // 更新在线用户数消息
                console.log(data)
                this.usersJoin.push(data);
            })
        }
    </script>
</body>
</html>